*.class

.metadata/
RemoteSystemsTempFiles/
.DS_Store/
Servers/
bin/
upload_img/
classes/
data-origin-test-web/
data-origin-util/
backup/
src/data-origin-generator/webapp/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
